.App {
    text-align: center;
    padding: 20px;
  }
  
  .Button {
    display: inline-block;
    padding: 10px 20px;
    margin: 10px;
    background-color: #42a5f5;
    color: #fff;
    border: none;
    cursor: pointer;
    transition: background-color 0.1s ease;
  }
  
  .Button:hover {
    background-color: #1976d2;
  }
  
  .List {
    display: inline-flex;
    justify-content: flex-start;
    align-items: center;
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .ListItem {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    max-width: 20vw;
    height: 100px;
    margin: 10px;
    color: #fff;
    font-size: 24px;
  }